.card{
    height: 100px;
    width: 300px;
    background-image: linear-gradient(to bottom, black, gray);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
p{
    padding-bottom: 5px;
}